<html>
<head>
	<%= stylesheet_link_tag 'authors' %>
	<title>Cecil Crain:  Project - author page.</title>
</head>
<body>

	<div id="wrapper">
		<div id="upper_bar">
 			<div>
 				<h2>Welcome to my Website!</h2>
				<h3>Cecil B. Crain, Esq.</h3>
			</div>	
			<ul>
				<li><a href="/users/">HOME</a></li>
				<li><a href="http://www.kickstarter.com" target="_blank">KICKSTARTER</a></li>
				<li><a href="/comments">REVIEWS</a></li>
				<li><a href="/users/new">READ THE FIRST CHAPTER</a></li>
			</ul>
		</div>

		<div id="main_content">

			<div id="author">
				<h2>About Cecil:</h2><br /><br/>
				
				<p>An avid reader, Cecil enjoys a good suspense story as much as anyone.  After reading 100's of books, he chose to put the pen to the paper and write his own novel. 

				Cecil was born in Missouri.  He graduated from Ole Miss with a business degree.  Upon graduation, he moved to California to seek his fortune.  His adventures steered him towards law school at Whittier College in Southern California.  Cecil practiced personal injury litigation in San Francisco for approximately six years. 

				Cecil lives in Northern California with his wife Li, Sheldon, their three year old son, and their two feline friends Mirabai and Bronte.</p>

			</div>
		</div>


			<div id="character">
				<h2>Want to be a character in the novel Shattered Justice?</h2><br>
				<p>Visit <a href="http://www.kickstarter.com">KICKSTARTER</a></li>
				to see how you can become a character in the novel.<br>PLUS!  Receive a copy of the ebook with your support of the Shattered Justice project.<br>Together, we can make the dream come alive.</h2>
			</div>

</body>
</html>