@import "bootstrap";

*{
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} 


body{
	background-image: url('../images/cover13.png');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}


.clear{
	clear:both;
}
#wrapper {
	width:1220px;
	margin:0px auto;
	font-family:arial;
/*	background-color: #DADADA
*/}

#upper_bar {
	width: 1220px;
	height: 80px;
	margin-top:15px;
/*	background-color: black;
*/}

#upper_bar img {
	width: 100px;
	height: 100px;
	margin-left: 15px;
	float:left;
	margin-top: 5px;
	margin-bottom: 15px;
}

#upper_bar h2{
	/*float:left;*/
	font-weight:bold;
	font-size:20px;
	margin-top: 5px;
	margin-left: 25px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

/*	font-family: Verdana;
*//*	margin:20px 20px 20px 0px;
*/}
#upper_bar h3{
	/*float:left;*/
/*	font-weight:bold;
*/	font-size:12px;
/*	margin-top: 45px;
*/	margin-left: 25px;
	font-family: Verdana;
/*	margin:20px 20px 20px 0px;
*/}


#upper_bar ul{
/*	clear:both;
*/	height:20px;
/*	background-color:#E9EDF1;
	border-width:1px;
	border-color:black;
	border-top-style:solid;
*/	
	padding:9px;
	padding-top: 10px;
	float:right;
}

#upper_bar div{
float: left;	
}

#upper_bar ul li{
	display:inline;
	border-left-style:solid;
	border-right-style:solid;
/*	border-color:#9D9D9D;
*/	border-width:1px;
	padding:9px;
}

#upper_bar ul li a{
	padding-top: 15px;
	margin:0px 15px 0px 15px;
	text-decoration:none;
	font-weight:bold;
	color: #EC0010;
	font-size:14px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	cursor:pointer;
	letter-spacing:2px;
/*	text-shadow: 2px 2px #E6E6E6;
*/
}

#main_content {
	width: 1220px;
	height: 300px;
/*	background-color: red;
*/}

#registration_form {
	margin-top: 100px;
	width: 1220px;
	height: 250px;
	margin-bottom: 50px;
/*	background-color: green;
*/}

#registration_form h1 {
	font-size: 30px;
	text-align: center;
}

#registration_form h2 {
	font-size: 20px;
	text-align: center;	
	font-style: italic;
}

#registration_form p {
	font-size: 24px;
	font-style: italic;
	padding-left: 25px;
	padding-right: 25px;
}

#input_area {
	height: 200px;
	width: 700px;

	margin-top: 75px;
	margin-left: 300px;
	font-weight:bold;
	color: #EC0010;
	font-size:40px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;



}

#input_area h3 {
	padding-left: 450px;
	font-size: 18px;
}

#form {
	height: 100px;
	width: 620px;
	margin-top:75px;
}

#input_area {
	font-size: 30px;
}

#form h2 {
	font-size: 18px;
	text-align: center;	
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.italic {
	font-style: italic;
}